################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProdutorConsumidorBufferLimitadoC#/.vs
/ProdutorConsumidorBufferLimitadoC#/obj
