################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProdutorConsumidorBufferLimitadoC#/.vs
/ProdutorConsumidorBufferLimitadoC#/obj
/Atividades desenvolvidas/ProdutorConsumidorBufferLimitadoC#/.vs
/Atividades desenvolvidas/ProdutorConsumidorBufferLimitadoC#/obj
/Projeto/Web/.vs/SDC.Chat/FileContentIndex
/Projeto/Web/src/SDC.Chat.WebApp/bin/Debug/net8.0
/Projeto/Web/src/SDC.Chat.WebApp/obj
/Projeto/WebApp/.vs
/Projeto/WebApp/src/SDC.Chat.WebApp/bin/Debug/net8.0
/Projeto/WebApp/src/SDC.Chat.WebApp/obj
