@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="DirectMessage">

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="UserEmail" class="form-control" aria-required="true" placeholder="nome@email.com" data-val="false" />
        <label asp-for="UserEmail">Email</label>
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    
    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Buscar usuário</button>
</form>

<div style="margin-top:20px;"></div>

<form method="post" asp-action="Group">
    <div class="form-floating mb-3">
        <input asp-for="Room" class="form-control" autocomplete="new-password" aria-required="true" placeholder="sala" data-val="false" />
        <label asp-for="Room">Sala</label>
        <span asp-validation-for="Room" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Buscar sala</button>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
