@model DirectMessageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Enviar mensagem" class="btn btn-lg btn-primary" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList">
                @foreach(var message in Model.Messages)
                {
                    <li>@message.Username disse @message.Content em @message.Date</li>
                }
            </ul>
        </div>
    </div>
</div>

<input type="hidden" id="userId" value="@Model.UserId" />

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat_user.js"></script>