################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SDC.Chat.WebApp/bin/Debug/net8.0
/.vs/SDC.Chat
/src/SDC.Chat.WebApp/obj
/.vs/ProjectEvaluation
